<h2 mat-dialog-title>Editar detalles del comprobante</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="example-form">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #codigo_principal="ngModel" name="codigo_principal" id="codigo_principal" placeholder="Codigo principal" required>
          <mat-error *ngIf="!codigo_principal.valid && codigo_principal.touched">
            The from field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #descripcion="ngModel" name="descripcion" id="descripcion" placeholder="Descripcion" required>
          <mat-error *ngIf="!descripcion.valid && descripcion.touched">
            The subjet field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <mat-select placeholder="Ruc" ngModel #ruc="ngModel" name="ruc" id="ruc">
            <mat-option *ngFor="let item of comprobanteList" [value]="item.ruc">
              {{item.ruc}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <mat-select placeholder="Numero" ngModel #numero="ngModel" name="numero" id="numero">
            <mat-option *ngFor="let item of comprobanteList" [value]="item.numero">
              {{item.numero}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #cantidad="ngModel" name="cantidad" id="cantidad" placeholder="Cantidad" required>
          <mat-error *ngIf="!cantidad.valid && cantidad.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #precio="ngModel" name="precio" id="precio" placeholder="Precio" required>
          <mat-error *ngIf="!precio.valid && precio.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #descuento="ngModel" name="descuento" id="descuento" placeholder="Descuento" required>
          <mat-error *ngIf="!descuento.valid && descuento.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput ngModel #total="ngModel" name="total" id="total" placeholder="Total" required>
          <mat-error *ngIf="!total.valid && total.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="m-t-10" fxLayoutGap="10px" fxLayoutAlign="end center">
      <button mat-button [mat-dialog-close]>Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Submit</button>
    </div>
  </form>
</mat-dialog-content>

