<h2 mat-dialog-title>Editar Comprobante</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="example-form">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="item.identificacion" #identificacion="ngModel" name="identificacion" id="identificacion" placeholder="Identificacion" required>
          <mat-error *ngIf="!identificacion.valid && identificacion.touched">
            The from field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="item.direccion" #direccion="ngModel" name="direccion" id="direccion" placeholder="Direccion" required>
          <mat-error *ngIf="!direccion.valid && direccion.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="item.ruc" #ruc="ngModel" name="ruc" id="ruc" placeholder="Ruc" required>
          <mat-error *ngIf="!ruc.valid && ruc.touched">
            The from field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="item.numero" #numero="ngModel" name="numero" id="numero" placeholder="Numero" required>
          <mat-error *ngIf="!numero.valid && numero.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="item.telefono" #telefono="ngModel" name="telefono" id="telefono" placeholder="Telefono">
        </mat-form-field>

        <mat-form-field fxFlex="50" class="example-full-width">
          <input matInput [ngModel]="item.fecha" #fecha="ngModel" name="fecha" id="fecha" placeholder="Fecha" required>
          <mat-error *ngIf="!fecha.valid && fecha.touched">
            The subjet field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="33.3" class="example-full-width">
          <input matInput [ngModel]="item.email" #email="ngModel" name="email" id="email" placeholder="Correo">
        </mat-form-field>

        <mat-form-field fxFlex="33.3" class="example-full-width">
          <input matInput [ngModel]="item.subtotal" #subtotal="ngModel" name="subtotal" id="subtotal" placeholder="Subtotal" required>
          <mat-error *ngIf="!subtotal.valid && subtotal.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="33.3" class="example-full-width">
          <input matInput [ngModel]="item.descuento" #descuento="ngModel" name="descuento" id="descuento" placeholder="Descuento" required>
          <mat-error *ngIf="!descuento.valid && descuento.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="33.3" class="example-full-width">
          <input matInput [ngModel]="item.iva" #iva="ngModel" name="iva" id="iva" placeholder="Iva" required>
          <mat-error *ngIf="!iva.valid && iva.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="33.3" class="example-full-width">
          <input matInput [ngModel]="item.total" #total="ngModel" name="total" id="total" placeholder="Total" required>
          <mat-error *ngIf="!total.valid && total.touched">
            The content field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="33.3" class="example-full-width">
          <input matInput [ngModel]="item.anulada" #anulada="ngModel" name="anulada" id="anulada" placeholder="Anulada" required>
          <mat-error *ngIf="!anulada.valid && anulada.touched">
            The content field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="m-t-10" fxLayoutGap="10px" fxLayoutAlign="end center">
      <button mat-button [mat-dialog-close]="true">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Submit</button>
    </div>
  </form>
</mat-dialog-content>
