<h2 mat-dialog-title>{{item.from}}</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="example-form">
    <div fxLayout="column">
      <mat-form-field class="example-full-width">
        <input matInput [ngModel]="item.from" #from="ngModel" name="from" id="from" placeholder="From" required>
        <mat-error *ngIf="!from.valid && from.touched">
          The from field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [ngModel]="item.subject" #subjet="ngModel" name="subject" id="subject" placeholder="Subject" required>
        <mat-error *ngIf="!subjet.valid && subjet.touched">
          The subjet field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [ngModel]="item.content" #content="ngModel" name="content" id="content" placeholder="Content" required>
        <mat-error *ngIf="!content.valid && content.touched">
          The content field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" class="m-t-10" fxLayoutGap="10px" fxLayoutAlign="end center">
      <button mat-button [mat-dialog-close]="true">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Submit</button>
    </div>
  </form>
</mat-dialog-content>
<!--<mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">-->
    <!--&lt;!&ndash;<button mat-button [mat-dialog-close]="true">Cancelar</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Submit</button>&ndash;&gt;-->
<!--</mat-dialog-actions>-->
